@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Edit Employee</h3>
<div class="container">
    @{ Html.BeginForm();}
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter Employee Name")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("name", (string)ViewBag.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter Employee Salary")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("salary", (decimal)ViewBag.Salary)
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter Employee Department")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("department", (string)ViewBag.Department)
            @Html.Hidden("id", (int)ViewBag.Id)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Update" class="btn btn-warning" />
        </div>
    </div>
    @{Html.EndForm();}
</div>