<h3>Are you sure to Delete Product ?</h3>
<div class="container">
    @{ Html.BeginForm();}
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Product Name")
        </div>
        <div class="col-lg-3">
            <b>@ViewBag.Name</b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Product Price")
        </div>
        <div class="col-lg-3">
            <b>@ViewBag.Price</b>
            @Html.Hidden("id", (int)ViewBag.Id)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </div>
    @{Html.EndForm();}
</div>

